<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB_SAIR_NOTES.Properties.Settings.DB_SAIR_NotesConnectionString"
            connectionString="Data Source=HARIRMOHAMED\TDI201_2018;Initial Catalog=DB_SAIR_Notes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>